.patient {
    border-radius: rem(5);
    background: #ebebeb;
    height: max-content;
    overflow: hidden;
    min-width: rem(350);
    background: #eaeaea;
    box-shadow:  3px 3px 10px #bebebe;
    &__header {
        position: relative;
        font-size: $fs-pico-pc;
        font-weight: 700;
        color: $clr-primary-ltr;
        padding: rem(10) 0;
        background-color: $clr-base;
        display: flex;
        align-items: center;
            &-close {
                overflow: hidden;
                position: absolute;
                top: rem(5);
                right: rem(5);
                border: none;
                width: rem(20); 
                height: rem(20);
                border-radius: 50%;
                background: transparent;
                color: $clr-primary-ltr;
                text-indent: 100%;
                cursor: pointer;
                transition: .2s all ease-in;
                
                &:hover {
                    background: #e0e0e0;
                    color: rgb(77, 77, 255);
                }
                
                &:before, &:after {
                    position: absolute;
                    top: 15%; left: calc(50% - .0625em);
                    width: .125em; height: 70%;
                    border-radius: .125em;
                    transform: rotate(45deg);
                    background: currentcolor;
                    content: ''
                }
                
                &:after { 
                    transform: rotate(-45deg); 
                }
            }
        }
		  &__status {
			margin-left: rem(10);
			font-size: $fs-nano-pc;
			padding: rem(5);
			border-radius: rem(10);
		  }
		  &__header-title{
			margin-left: rem(52);
		  }
        &__content {
            padding: rem(25) rem(40);
            & h3 {
                font-size: $fs-milli-pc;
                color: #2e2b2b;
                margin-bottom: rem(10);
            }
            & span {
                color: #343434;
                font-weight: 500;
            }
            &-urgency {
                display: flex;
                position: relative;
                & .button-urgency {
                    position: absolute;
                    top: rem(4);                    
                    border-radius: rem(50);
                    border: none;
                    display: inline-block;
                    padding: rem(5) rem(5);                   
                  }
					 & .btn-low {
						animation: glowing-sm-green 3000ms infinite;
						right: rem(80);
					 }	
					 & .btn-normal {
						animation: glowing-sm-yellow 3000ms infinite;
						right: rem(58);
					 }
					 & .btn-high {
						animation: glowing-sm-red 3000ms infinite;
						right: rem(56);
					 }  
            }
            &-buttons {
                @include flexCenterX;
                gap: rem(10);
            }
            &-button {
                background-image: linear-gradient(144deg,#772aae, #3b2b9f 50%,#3901a0);
                border: 0;
                border-radius: rem(8);
                box-shadow: rgba(151, 65, 252, 0.2) 0 rem(15) rem(30) rem(-5);
                color: $clr-ntrl-min;
                display: flex;
                font-size: $fs-micro-pc;
                justify-content: center;
                line-height: 1em;
                max-width: 100%;
                min-width: rem(80);
                margin-top: rem(5);
                text-decoration: none;
                user-select: none;
                touch-action: manipulation;
                white-space: nowrap;
                cursor: pointer;
                transition: all .3s;
                  &:active,
                  &:hover {
                  outline: 0;
               }
               & span {
                background-color: $clr-base;
                padding: rem(6) rem(8);
                border-radius: rem(6);
                transition: 300ms;
                color: $clr-ntrl-min;
               }
               &:hover span {
                background: none;
               }
               &:active {
                transform: scale(0.9);
               }
              }
            
        }
    }

    .hidden {
        display: none;
    }

	 .status-open {
		background-color: $clr-sts-blue;
	 }
	 .status-done {
		background-color: $clr-sts-green;
	 }

@media (max-width: $desktop) {
    .patient {
        &__header {
            font-size: $fs-pico-pc;
            }
              &__status {
                margin-left: rem(10);
                font-size: rem(9);
                padding: rem(3);
              }
              &__header-title{
                margin-left: rem(67);
              }
            &__content {
                &-urgency {
                    & .btn-low {
                       animation: glowing-sm-green 3000ms infinite;
                       right: rem(80);
                    }	
                    & .btn-normal {
                       animation: glowing-sm-yellow 3000ms infinite;
                       right: rem(58);
                    }
                    & .btn-high {
                       animation: glowing-sm-red 3000ms infinite;
                       right: rem(56);
                    }  
                }
                &-button {
                    font-size: rem(14);
            }
        }
    }
}

@media (max-width: $tablet) {
    .patient {
        min-width: rem(250);
        &__header {
            font-size: $fs-nano-tab;
            }
              &__status {
                margin-left: rem(10);
                font-size: $fs-micro-tab;
                padding: rem(3);
              }
              &__header-title{
                margin-left: rem(25);
              }
            &__content {
                padding: rem(15) rem(10);
                & h3 {
                    font-size: $fs-milli-tab;
                    margin-bottom: rem(10);
                }
                & span {
                    font-weight: 500;
                }
                &-urgency {
                    & .btn-low {
                       animation: glowing-sm-green 3000ms infinite;
                       top: rem(1);
                       right: rem(78);
                    }	
                    & .btn-normal {
                       animation: glowing-sm-yellow 3000ms infinite;
                       top: rem(1);
                       right: rem(60);
                    }
                    & .btn-high {
                       animation: glowing-sm-red 3000ms infinite;
                       top: rem(1);
                       right: rem(60);
                    }  
                }
                &-button {
                    font-size: $fs-milli-tab;
            }
        }
    }
}

@media (max-width: $mobile) {
    .patient {
        margin: 0;
        &__header {
            font-size: $fs-pico-mob;
            }
              &__status {
                margin-left: rem(10);
                font-size: $fs-nano-mob;
                padding: rem(3);
              }
            &__content {
                padding: rem(15) rem(10);
                & h3 {
                    font-size: $fs-micro-mob;
                    margin-bottom: rem(10);
                }
                & span {
                    font-weight: 500;
                }
                &-urgency {
                    & .btn-low {
                       animation: glowing-sm-green 3000ms infinite;
                       right: rem(78);
                    }	
                    & .btn-normal {
                       animation: glowing-sm-yellow 3000ms infinite;
                       right: rem(60);
                    }
                    & .btn-high {
                       animation: glowing-sm-red 3000ms infinite;
                       right: rem(60);
                    }  
                }
                &-button {
                    font-size: $fs-micro-mob;
            }
        }
    }
}
