.logOut {
    position: absolute;
    top: rem(55);
    right: rem(95);
    z-index: 7;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $clr-primary-l;
    border: rem(1) solid $clr-primary;
    border-radius: rem(5);
    &__text {
        padding: rem(10) rem(20);
        font-size: rem(14);
    }
    &__button {
        width: rem(30);
        margin-bottom: rem(10);
        background-image: linear-gradient(144deg,#ff1d74, #f34242 50%,#eb6e00);
        padding: 0;
        & span {
            padding: rem(5) rem(10);
        }
    }
}


@media (max-width: $mobile) {
    .logOut {
        top: rem(50);
        right: rem(5);
        &__text {
            font-size: $fs-micro-tab;
        }
    }
}


.show {
    display: none;
}