.alert {
    display: flex;
    position: fixed;
    bottom: rem(15);
    right: rem(10);
    transition: opacity 1s ease;
    opacity: 0;
    &__items {
        display: flex;
        align-items: center;
        background-color: $clr-base-dk;
        border-radius: rem(15);
        padding: rem(15) rem(25) rem(15) rem(15);
        &-description {
            font-size: $fs-h4-pc;
            color: $clr-ntrl-min;
            margin-left: rem(10);
            & span {
                color: $clr-base-ltr;
            }
        }
        &-close {
            width: rem(15);
            height: rem(15);
        }
    }
}