@mixin flexCenterX {
  display: flex;
  justify-content: center;
}
@mixin flexCenterY {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flexCenterXY {
  display: flex;
  justify-content: center;
  align-items: center;
}

/// Animation
@keyframes glowing-sm-green {
  0% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
  50% {
    background-color: #49e819;
    box-shadow: 0 0 10px #49e819;
  }
  100% {
    background-color: #2ba805;
    box-shadow: 0 0 5px #2ba805;
  }
}
@keyframes glowing-sm-yellow {
  0% {
    background-color: #a8a305;
    box-shadow: 0 0 5px #a89505;
  }
  50% {
    background-color: #e8da19;
    box-shadow: 0 0 10px #e8de19;
  }
  100% {
    background-color: #a8a305;
    box-shadow: 0 0 5px #a0a805;
  }
}
@keyframes glowing-sm-red {
  0% {
    background-color: #a80505;
    box-shadow: 0 0 5px #a80505;
  }
  50% {
    background-color: #e81919;
    box-shadow: 0 0 10px #e82019;
  }
  100% {
    background-color: #a80805;
    box-shadow: 0 0 5px #a80505;
  }
}
